*
!automations.yaml
!scripts.yaml
!configuration.yaml
!pyscript/ 
!pyscript/**
!esphome/
!esphome/**
!dashboard_backups/ 
!dashboard_backups/**
!helper_backups/ 
!helper_backups/**
!**.sh
!.gitignore

